body {
  background-color: white!important;
  user-select: none;
  width: 98vw;
}
.App {
  text-align: center;
  color: black;
  background-color: white;
}
.nav-link {
  color: white!important;
  border: solid 2px rgba(255, 255, 255, 0.6);
  background-color: rgba(52, 126, 53, 0.6);
  border-radius: 20px;
}
.nav-link:hover {
    color: rgba(255, 69, 0, 0.5);
    font-style: italic; }
.App-logo {
  pointer-events: none;
}
.MuiBadge-root {
  justify-content: flex-end;
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(52, 126, 53, 0.6);
}
.MuiSvgIcon-root {
  color:rgb(255, 69, 0);
  width: 40px!important;
  height: 40px!important;
}
.MuiBadge-colorPrimary {
  background-color: rgb(255, 69, 0)!important;
}
.logoEEN {
  width: 7vw;
  align-self: start;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  background: rgba(0, 0, 0, 0.12) url(./components/images/verde1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply; 
}
.foot__navrrss {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.foot__navrrss img {
  width: 70px;
  height: 70px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(52, 126, 53, 0.6);
}
.App-link {
  color: white;
}

.btn-primary {
  background-color: rgb(255, 69, 0);
  border: ridge 2px orangered;
  border-radius: 10px;
}
.btn-primary:hover {
  font-style: italic;
  background-color: rgba(255, 69, 0, 0.5);
  border: solid 2px rgba(255, 69, 0, 0.5);
}
.deleteItem {
  height: min-content;
}

.imgDetail {
  background-color: rgba(255, 69, 0, 0.5);
  border: solid 2px rgba(255, 69, 0, 0.5);
  border-radius: 20px;
  height: 20vw;
  width: 15vw;
}
.imgItem {
  height: 20vw;
  width: fit-content;
}
.titleCarro {
  margin-top: 5vw;
  margin-left: 2vw;
}
.itemCart {
  border-bottom: solid 2px rgba(255, 69, 0, 0.5);
}
.resumenCarro {
  background-color: rgba(255, 69, 0, 0.5);
  border-radius: 50px;
  margin: 2vw;
}