body {
  background-color: white!important;
}
.App {
  text-align: left;
  color: black;
  background-color: white;
}
.nav-link {
  color: white; }
a:hover {
    color: white;
    font-style: italic; }
.App-logo {
  pointer-events: none;
}
.MuiBadge-root {
  justify-content: flex-end;
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.logoEEN {
  width: 7vw;
  align-self: start;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  background: rgba(0, 0, 0, 0.12) url(./components/images/verde1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply; 
}

.App-link {
  color: white;
}

.btn-primary {
  background-color: orangered;
  border: ridge 2px orangered;
}

